@font-face {
    font-family: 'Telegraf';
    src: url('../CSSWENG-G1-1/Fonts/Telegraf/PPTelegraf-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Telegraf';
    src: url('../CSSWENG-G1-1/Fonts/Telegraf/PPTelegraf-Ultrabold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Telegraf';
    src: url('../CSSWENG-G1-1/Fonts/Telegraf/PPTelegraf-Ultralight.otf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Garet';
    src: url('../CSSWENG-G1-1/Fonts/garet/Garet-Book.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garet';
    src: url('../CSSWENG-G1-1/Fonts/garet/Garet-Heavy.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}